@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");


@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.mySwiper .swiper-pagination-bullet {
  background: white;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  opacity: 60%;
}

.mySwiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  box-shadow: 0px 4px 4px 0px #00000040;
}

* {
  font-family: "Urbanist", sans-serif !important;
}

/* Global scrollbar styles */
.custom-scrollbar {
  /* Webkit-based browsers (Chrome, Safari, Edge) */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #d4d4d4 #f5f5f5; /* Firefox */

  /* Scrollbar styling for Chrome, Edge, Safari */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a8a8a8; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888888; /* Darker color when hovered */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5; /* Color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-track:hover {
  background: #e6e6e6; /* Darker track when hovered */
}











