@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Urbanist", sans-serif !important;
}

.roboto {
  font-family: "Roboto", sans-serif !important;
}

.custom-shadow-one {
  box-shadow: 0px 2px 1px -1px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.mySwiper .swiper-pagination-bullet {
  background: white;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  opacity: 60%;
}

.mySwiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  box-shadow: 0px 4px 4px 0px #00000040;
}

body {
  font-family: "Urbanist", sans-serif !important;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 #f5f5f5;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-track:hover {
  background: #e6e6e6;
}

/* Modal Swiper */
.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.3s ease;
}

.custom-shadow {
  box-shadow: 0px 5px 5px -3px #00000033;

  box-shadow: 0px 8px 10px 1px #00000024;

  box-shadow: 0px 3px 14px 2px #0000001f;
}

/* Customizing the toast message */
.custom-toast {
  font-weight: 600; /* Custom font weight */
}
